.header {
    display: block;
    text-align: center;
    font-size: 30px;
    margin: 10px 0;
}
.nav {
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    height: 80px;
    margin-top: 0;
}
.nav > li {
    color: white;
}
.nav > li:hover {
    color: turquoise;
}